.xfce4-panel.panel,
.mate-panel-menu-bar button:not(#tasklist-button),
panel-toplevel.background button:not(#tasklist-button), .xfce4-panel.panel button.flat, .xfce4-panel.panel button.sidebar-button {
  color: #BAC3CF;
  font-size: 100%;
  font-weight: normal;
  border-radius: 0;
  border: none;
  background-color: #2B2E37; }
  .mate-panel-menu-bar button:hover:not(#tasklist-button),
  panel-toplevel.background button:hover:not(#tasklist-button), .xfce4-panel.panel button.flat:hover, .xfce4-panel.panel button.sidebar-button:hover {
    border: none;
    background-color: rgba(65, 70, 84, 0.95); }
  .mate-panel-menu-bar button:active:not(#tasklist-button),
  panel-toplevel.background button:active:not(#tasklist-button), .xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.sidebar-button:active, .mate-panel-menu-bar button:checked:not(#tasklist-button),
  panel-toplevel.background button:checked:not(#tasklist-button), .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:checked {
    color: #ffffff;
    border: none;
    background-color: #5294e2; }
    .mate-panel-menu-bar button:active:not(#tasklist-button) label,
    panel-toplevel.background button:active:not(#tasklist-button) label, .xfce4-panel.panel button.flat:active label, .xfce4-panel.panel button.sidebar-button:active label, .mate-panel-menu-bar button:active:not(#tasklist-button) image,
    panel-toplevel.background button:active:not(#tasklist-button) image, .xfce4-panel.panel button.flat:active image, .xfce4-panel.panel button.sidebar-button:active image, .mate-panel-menu-bar button:checked:not(#tasklist-button) label,
    panel-toplevel.background button:checked:not(#tasklist-button) label, .xfce4-panel.panel button.flat:checked label, .xfce4-panel.panel button.sidebar-button:checked label, .mate-panel-menu-bar button:checked:not(#tasklist-button) image,
    panel-toplevel.background button:checked:not(#tasklist-button) image, .xfce4-panel.panel button.flat:checked image, .xfce4-panel.panel button.sidebar-button:checked image {
      color: inherit; }

tooltip {
    border-width: 0;
    border-radius: 0;
    border: 0;
    border-style: none;
    background-color: transparent;
    background-clip: content-box;
    color: #BAC3CF;
    font-size: 0;
    padding: 0; }

